body {
	font-family: "Arial", sans-serif;
	background-color: #f2f2f2;
}

h2 {
	font-size: 2em;
	color: blue;
	padding-left: 5px;
}

.time-img {
	float: left;
	padding-right: 40px;
	margin-left: 10%;
	position: relative;
}

.temp-img {
	float: left;
	clear: right;
	padding-right: 40px;
	margin-left: 15%;
	position: relative;
}

.pc-img {
	float: left;
	clear: right;
	margin-left: 10%;
	position: relative;
}

.emoj {
	height: 100px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.home-container {
	width: 80%;
	height: 300px;
	border: 2px groove #ffffff;
	border-radius: 12px;
	margin: 0 auto;
	text-align: center;
}

.container {
	width: 80%;
	height: 100%;
	border: 2px groove #ffffff;
	border-radius: 12px;
	margin: 0 auto;
}

.num-entry {
	width: 100%;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.form {
	width: 100%;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

.label {
	margin-top: 40px;
}

#runtime {
	height: 30px;
	width: 30%;
	margin-top: 5px;
	font-size: 15px;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	text-align: center;
	color: #404040;
}

.time-result {
	width: 30%;
	height: 30px;
	margin: 10px auto;
	margin-top: 10px;
	text-align: center;
	padding-top: 2px;
	border-style: inset;
	border-width: 1px;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #404040;
	line-height: 30px;
	position: relative;
	background-color: white;
}

#myTemp {
	height: 30px;
	width: 30%;
	margin-top: 5px;
	font-size: 15px;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	text-align: center;
	color: #404040;
}

#valOne, #valTwo {
	height: 30px;
	width: 30%;
	margin-top: 5px;
	font-size: 15px;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	text-align: center;
	color: #404040;
}

.navigation {
	width: 100%;
	height: 50px;
	background-color: black;
	margin-top: -18px;
	margin-bottom: 30px;
	line-height: 50px;
	color: #999999;
}

.footer {
	width: 100%;
	height: 50px;
	margin-top: 150px;
	margin-bottom: 15px;
	line-height: 50px;
	text-align: center;
	color: #888;
	font-weight: bold;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

ul.nav {
	list-style: none;
	text-align: center;
	font-weight: bold;
}

ul.nav li {
	display: inline;
	padding-left: 40px;
}

ul.nav a, a:visited {
	text-decoration: none;
	color: #999999;
}

ul.nav a:hover {
	color: white;
}

ul.nav a:active {
	color: green;
}

.home-container a {
	text-decoration: none;
	color: black;
}

@media (max-width: 480px) {

	.container {
		width: 100%;
		height: 100%;
		border: 2px groove #ffffff;
		margin: 0 auto;
	}

	.home-container {
		width: 100%;
		height: 100%;
		border: 2px groove #ffffff;
		padding-bottom: 535px;
		margin: 0 auto;
	}

	.navigation {
		word-spacing: 5px;
	}

	ul.nav {
		text-align: center;
		padding: 0;
	}

	ul.nav li {
		padding: 0;
		word-spacing: 0;
	}

	.time-img {
		float: right;
		clear: none;
		margin: 0 auto;
		padding-right: 118px;
		position: relative;
	}

	.temp-img {
		float: right;
		clear: none;
		margin: 0 auto;
		padding-right: 110px;
		position: relative;
	}

	.pc-img {
		float: right;
		clear: none;
		margin: 0 auto;
		padding-right: 82px;
		position: relative;		
	}

	.emoj {
		height: 100px;
	}

	#runtime, #myTemp, #valOne, #valTwo {
		height: 50px;
		width: 70%;
		font-size: 20px;
	}

	.time-result {
		height: 50px;
		width: 70%;
		font-size: 20px;
		line-height: 50px;
	}

	.footer {
		width: 100%;
		margin-top: 20px;
		float: right;
		font-size: 13px;
		margin: 0 auto;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	h2 {
		font-size: 4em;
	}

	.container {
		width: 100%;
		height: 100%;
		border: 2px groove #ffffff;
		margin: 0 auto;
	}

	.home-container {
		width: 100%;
		height: 100%;
		border: 2px groove #ffffff;
		padding-bottom: 970px;
		margin: 0 auto;
	}

	.navigation {
		word-spacing: 25px;
		font-size: 2em;
	}

	ul.nav {
		text-align: center;
		padding: 0;
	}

	ul.nav li {
		padding: 0;
		word-spacing: 0;
	}

	.time, .temp, .perchange {
		height: 200px;
	}

	.text {
		font-size: 2em;
	}

	.time-img {
		float: left;
		clear: none;
		margin: 0 auto;
		padding-left: 340px;
		position: relative;
	}

	.temp-img {
		float: right;
		clear: left;
		margin: 0 auto;
		padding-top: 40px;
		padding-right: 320px;
		position: relative;
	}

	.pc-img {
		float: right;
		clear: left;
		margin: 0 auto;
		padding-top: 40px;
		padding-right: 258px;
		position: relative;		
	}

	.emoj {
		height: 200px;
	}

	#runtime, #myTemp, #valOne, #valTwo {
		height: 100px;
		width: 70%;
		font-size: 40px;
	}

	.time-result {
		height: 100px;
		width: 70%;
		font-size: 40px;
		line-height: 100px;
	}

	.footer {
		width: 100%;
		margin-top: 30px;
		padding-top: 50px;
		float: right;
		font-size: 27px;
		margin: 0 auto;
		position: relative;
	}
}

::-webkit-input-placeholder {
    color: red;
}

:-moz-input-placeholder {
    color: blue;
}

::-ms-input-placeholder {
    color: red;
}









